{% extends 'layout/base.html' %}

{% block title %}Đổi mật khẩu{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow p-3 mx-auto" style="max-width: 400px;">
        <h5 class="text-center mb-3">Đổi mật khẩu</h5>

        <form method="post">

            <input type="password" name="old_password"
                   class="form-control mb-2"
                   placeholder="Mật khẩu cũ" required>

            <input type="password" name="new_password"
                   class="form-control mb-2"
                   placeholder="Mật khẩu mới" required>

            <input type="password" name="confirm_password"
                   class="form-control mb-3"
                   placeholder="Xác nhận mật khẩu" required>

            {% if err_msg %}
            <div class="text-danger small mb-2">{{ err_msg }}</div>
            {% endif %}

            {% if success_msg %}
            <div class="text-success small mb-2">{{ success_msg }}</div>
            {% endif %}

            <button type="submit" class="btn btn-warning w-100">
                Đổi mật khẩu
            </button>
        </form>
    </div>
</div>
{% endblock %}