{% extends 'layout/base.html' %}

{% block title %}{{ ("Đăng nhập") }}{% endblock %}

{% block content %}


<div class="text-center mt-5" style="color: black">
    <h2 class="mb-3">ĐĂNG NHẬP</h2>
</div>

<div style="width: 30%; margin: 0 auto;">
    {% if err_msg %}
    <div class="alert alert-danger mt-3">{{ err_msg }}</div>
    {% endif %}

    <form action="" method="post">

        <div class="mb-3 mt-3">
            <input type="text" value="{{ old_username or '' }}" class="form-control" id="username"
                   placeholder="Tên đăng nhập" name="username" required>
        </div>

        <div class="mb-3">
            <div class="input-group mb-3">
                <input type="password" class="form-control" id="pwd" placeholder="Mật khẩu" name="password" required>
                <span class="input-group-text toggle-password" style="cursor:pointer;">
                        <i class="bi bi-eye"></i>
                </span>
            </div>
        </div>





        <button type="submit" class="btn btn-success" style="width: 100%;">Đăng nhập</button>
    </form>
</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

{% endblock %}