{% extends 'layout/base.html' %}
{% block title %}Đăng ký môn học{% endblock %}

{% block content %}
<div style="width:80%; margin:0 auto;">
    <h3 class="mb-4 fw-bold mt-3">ĐĂNG KÝ MÔN HỌC {%if registration_semester%}<small>| {{registration_semester.name}} - {{registration_semester.year}}{%endif%}</small></h3>
    {%if error or is_preview == True%}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-circle me-2"></i>
        <div>
            {{error}}
        </div>
    </div>
    {%else%}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div>
            Sinh viên cần xuất phiếu đăng ký để ghi nhận kết quả đăng ký môn học.
        </div>
    </div>
    {%endif%}

    <div class="{% if not valid_regis and not is_preview %}d-none{% endif %}">
        <div class="card shadow-sm p-3 mb-4">

            <form method="get" class="row g-3 align-items-end">
                <div class="col-md-4" id="courseBox">
                    <label class="form-label fw-semibold">Chọn môn</label>
                    <select name="course_id" id="courseSelect" class="form-select">
                        <option value="">-- Tất cả --</option>
                        {% for c in courses_in_reg_semester %}
                        <option value="{{ c.id }}"
                                data-code="{{ c.course_code }}"
                                {% if selected_course_id== c.id|string %}selected{% endif %}>
                            {{ c.course_name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>


                <div class="col-md-1">
                    <a href="{{ url_for('register_course_page') }}" class="btn btn-primary">
                        Tất cả
                    </a>
                </div>


            </form>

        </div>

        <div class="table-container">
            <table class="table table-bordered table-hover shadow-sm">
                <thead class="table-header">
                <tr class="text-center">
                    <th>Mã lớp</th>
                    <th>Môn học</th>
                    <th>Tín chỉ</th>
                    <th>Lịch học</th>
                    <th>Phòng</th>
                    <th>Sĩ số</th>
                    <th>Đăng ký</th>
                </tr>
                </thead>

                <tbody>
                {% for c in course_classes_in_reg_semester %}
                <tr class="text-center">
                    <td>{{ c.class_code }}</td>
                    <td class="text-start ms-5">{{ c.course.course_name }}</td>
                    <td>{{ c.course.credits }}</td>
                    <td>
                        {% for s in c.schedule_associations %}
                        {{ s.slot.weekday.label }} - {{ s.slot.session }}<br>
                        {% endfor %}
                    </td>
                    <td>{{ c.schedule_associations[0].room.name if c.schedule_associations[0].room else '—'  }}</td>
                    <td style="color: {% if c.max_students == c.current_size %}red{% endif %}">
                        <span style="color: {% if c.max_students == c.current_size %}red {%else%} blue{% endif %}">{{ c.current_size }}</span>
                        / {{ c.max_students }}
                    </td>
                    <td>
                        {% if c.max_students <= c.current_size %}
                        <span class="text text-danger"><i>Hết sĩ số</i></span>
                        {% else %}
                        <input type="checkbox"
                               class="register-checkbox"
                               style="transform: scale(1.3);"
                               data-class-id="{{ c.id }}"
                               data-registered="{{ '1' if c.id in registered_ids else '0' }}"
                               {% if c.id in registered_ids %}checked disabled{% endif %}
                               {% if not valid_regis %} disabled{% endif %}>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="d-flex mt-3 {% if not valid_regis %}d-none{% endif %}">
            <button id="confirmBtn" class="btn btn-success ms-auto">Xuất phiếu đăng ký</button>
        </div>
        <div class="{% if not valid_regis %}d-none{% endif %}">
            <hr class="mt-4">


        </div>
    </div>
    <div class="{%if not registration_semester%} d-none{%endif%}">
        <h3 class="mb-2 fw-bold mt-4 ">CÁC MÔN ĐÃ ĐĂNG KÝ</h3>
        {%if registration_semester%}<p class="mb-2 ">{{registration_semester.name}} - {{registration_semester.year}}</p>{%endif%}

        <p class="mb-3">Tổng số tín chỉ: <b>{{ sum_credits }} tín chỉ</b></p>

        <table class="table table-bordered table-hover shadow-sm">
            <thead class="table-header">
            <tr class="text-center">
                <th>Mã lớp</th>
                <th>Môn học</th>
                <th>Tín chỉ</th>
                <th>Lịch học</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for c in registered_course_class %}
            <tr class="text-center {% if c.is_full %}table-secondary{% endif %}">
                <td>{{ c.class_code }}</td>
                <td class="text-start ms-5">{{ c.course.course_name }}</td>

                <td>{{ c.course.credits }}</td>
                <td>
                    {% for s in c.schedule_associations %}
                    {{ s.slot.weekday.label }} - {{ s.slot.session }}<br>
                    {% endfor %}
                </td>
                <td class="text-center">
                    <i class="bi bi-x-square-fill unregister-icon"
                       data-class-id="{{ c.id }}"
                       style="cursor: pointer; color: red; font-size: 1.2rem;"
                       title="Huỷ đăng ký"></i>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
}