<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 - Truy cập bị từ chối</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
</head>
<body class="error-403">
    <div class="container">
        <div class="error-code">403</div>
        <div class="error-title">Truy cập bị từ chối</div>
        <div class="error-message">
            Bạn không có quyền truy cập vào trang này.<br>
        </div>
        {% if current_user.role.name == "ADMIN" %}
    <a href="/admin" class="btn">Quay về trang chủ</a>
{% else %}
    <a href="{{ url_for('index') }}" class="btn">Quay về trang chủ</a>
{% endif %}
    </div>


</body>
</html>